@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;1,700&display=swap');

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    background: #FFF9A5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .voteBox{
    width: 450px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap:  wrap;
    background: #CCDDD3;
    height: 400px;
    border-radius: 20px;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
  }
  
  button {
    display: inline-block;
    cursor: pointer;
    font-size: 22px;
    padding: 1rem 2rem;
    border-radius: 8px;
    transition: opacity 0.3s ease-in;
    text-decoration: none;
    background-color: #DFEFCA;
    margin: 18px auto 18px auto;
    width: 250px;
    font-family: 'Roboto Mono', monospace;
  }
  
  button:hover {
    opacity: 0.4;
  }
  
  button.disabled {
    cursor: wait;
    opacity: 0.2;
  }
  
  body.loading {
    cursor: wait !important;
  }
  
  body.loading * {
    cursor: wait !important;
    opacity: 0.4;
    pointer-events: none;
  }
  
  button.voted {
    cursor: not-allowed !important;
  }
  
  button.voted-user span {
    color: red !important;
  }
  
  span {
    font-weight: 800;
    color: green;
  }